

<div class="d-flex justify-content-between border-bottom-0">
  <span class="btn btn-warning"><%= link_to 'Wikiboys', articles_path %></span>
  <span class="btn btn-warning"><%= link_to "Add New Article", new_article_path %></span>
</div>

<div class="container">
  <h1><%= @article.title %></h1>
  <%= link_to edit_article_path(@article) do %>
    <i class="fa-solid fa-pencil"></i>
  <% end %>
  <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Delete #{@article.title}?" } do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
  <p><%= @article.content %></p>
</div>
